@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


:root{
    --font-color-primary : #fff;
    --font-color-secondary: #000;
    --black: #000;
}
html {
    font-size: 62.5%;
    font-family: "Playwrite DE Grund", cursive;
    overflow-x: hidden;
    
}

body {

    /* background-image: url("live.mp4"); */
    background-image: url("https://wallpapercave.com/wp/wp4110653.jpg");
    /* background-image: url("hero-img-desk.PNG"); */
background-repeat: no-repeat;
background-size: contain;

}
.header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.navbar {
    max-width: 100%;
    width: 100vw;

    border-top: 3.5px solid #c09256;
    height: 5rem;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.56rem;
    color: white;

}
#hamburger{
    display: none;
}

#hamcross{
    display: none;
}
.off-screen-menu {
    display: none;
}


.p-tag {
    margin-left: 3rem;
    cursor: pointer;
}
.realtor-p{
    margin-left: 10rem;
    font-weight: 700;
    font-size: 2.5rem;
    cursor: pointer;
}

.nav-lists {
    margin-right: 3rem;
}
.nav-lists-items {
    display: flex;
    gap: 3rem;
    list-style: none;
    cursor: pointer;
}
/* header and navbar ends  */


/* hero section start */
.hero-section {
    width: 100vw;
    height: 81vh;
    /* display: flex; */
    
    color: var(--font-color-primary);
}

.hero-section p{
    /* margin-left: 18rem; */
    /* display: block; */
    text-align: center;
    /* background-color: red; */
    /* margin-top: 15rem;     */
    margin: 18rem 0 auto auto  ;
    height: 9rem;
    font-size: 5rem;
    font-weight: 700;

}

.search-bar{
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50%;
    display: flex;
    border-radius: 50px;
    align-items: center;
    background-color: var(--font-color-primary);
}

.search-box input::placeholder{
    font-size: 1.5rem;
    font-weight: 500;
    color: black;
}

.dropdown{
    position: relative;
    width: 28rem;
    cursor: pointer;
    border-radius: 50px;
    background-color: var(--black);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.dropdown-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--font-color-primary);
    padding: 1rem 1.5rem;
}

.dropdown-list{
    position: absolute;
    top: 5rem;
    left: 0;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    border-radius: 15px;
    background-color: white;
    transition: max-height .5s ;
}

#drop-list.show{
    max-height: 300px;

}

.dropdown-list-item{
    list-style-type: none;
    font-size: 1.3rem;
    font-weight: 500;
    color: black;
    padding: 1rem 0 1rem 1.5rem;
    cursor: pointer;
    transition: margin-left .2s ease;
}
.dropdown-list-item:hover{
    margin-left: 0.5rem;
    
}

.search-box{
    display: flex;
    align-items: center;
    padding-right: 1rem;
    width: 100%;
    color: black;
}

.search-box input{
    padding: 1rem;
    width: 100%;
    font-size: 1.6rem;
    font-weight: 500;
    color: black;
    border: 0;
    outline: 0;
}
.search-box i{
    font-size: 2.6rem;
    cursor: pointer;
}



/* hero section ends  */



/* explore section starts  */

.explore-section {
    width: 100vw;
    
    height: 100vh;
    background: rgb(255,255,255);background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(48,80,105,1) 10%, rgba(48,80,105,1) 50%, rgba(48,80,105,1) 90%, rgba(255,255,255,0) 100%);
}
.lrmargin-explore-section{
    max-width: 110rem;
    margin: 0 auto;
    height: 100vh;
    /* background-color: rgb(10, 54, 71); */
    

}

.explore-section-heading p{
    text-align: left;
    font-size: 3rem;
    color: var(--font-color-primary);
    font-weight: 800;
}
.explore-section-para p{
    text-align: left;
    font-size: 1.75rem;
    color: var(--font-color-primary);
}

.content-explore-section{
    /* display: flex; */
    /* justify-content: space-between; */
    /* flex-wrap: wrap; */


    /* background-color: yellow; */
    
    height: 45rem;
    /* margin: 0;
    padding: 0;
    box-sizing: border-box;     
     */


}


.dodibbe-wala-section-1{
    display: flex;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 110rem; */

    /* margin: .5rem; */
    /* margin-left: 3rem; */
    margin-bottom: .5rem;
}

.dodibbe-wala-section-2{
    display: flex;
    /* margin-left: 3rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-bottom: .5rem; */
}
.dibba1{
    width: 54rem;
    height: 20rem;
    /* background-color: rgb(12, 26, 25); */
    border-radius: 2rem;
    margin:0  .5rem;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    /* padding: 1rem; */
    background-image: linear-gradient(300deg, #fff0, #fff3 35%,  #fffc 45%,#f3f4f6 60%),url("https://media.istockphoto.com/id/1087256254/photo/most-beautiful-neighborhood-street.jpg?s=612x612&w=0&k=20&c=x72kVEGv1iFoO0dHznF-8dsKuZVcoYsuwGNRvnBpnHk=");
    background-size: 100% 100%;
    padding: 2.4rem 2.4rem 0 2.4rem;
    
    
}


.dibba2{
    width: 54rem;
    height: 20rem;
    /* background-color: rgb(12, 26, 25); */
    border-radius: 2rem;
    margin:0  .5rem;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    /* padding: 1rem; */
    background-image: linear-gradient(300deg, #fff0, #fff3 35%,  #fffc 45%,#f3f4f6 60%),url("school.jpg");
    /* background-image: linear-gradient(120deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 31%,rgba(255,255,255,1) 52%, transparent 100%),url("school.jpg"); */
    background-size: 100% 100%;
    padding: 2.4rem 2.4rem 0 2.4rem;

    
}
.dibba3{
    width: 54rem;
    height: 20rem;
    /* background-color: rgb(12, 26, 25); */
    border-radius: 2rem;
    margin:0  .5rem;
    /* box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; */
    /* padding: 1rem; */
    background-image: linear-gradient(300deg, #fff0, #fff3 35%,  #fffc 45%,#f3f4f6 60%),url("buildings.jpg");
    /* background-image: linear-gradient(120deg, rgb(48 ,80 ,105,1) 0%, rgb(48 ,80 ,105,1) 31%,rgb(48, 80 ,105, 0.7) 52%, transparent 100%),url("buildings.jpg"); */

    background-size: 100% 100%;    padding: 2.4rem 2.4rem 0 2.4rem;

    
}
.dibba4{
    width: 54rem;
    height: 20rem;
    /* background-color: rgb(12, 26, 25); */
    border-radius: 2rem;
    margin:0  .5rem;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    /* padding: 1rem; */
   
    background-image:linear-gradient(300deg, #fff0, #fff3 35%,  #fffc 45%,#f3f4f6 60%), url("https://facts.net/wp-content/uploads/2023/09/12-fascinating-facts-about-real-estate-agent-1695689539.jpg");
    background-size: 100% 100%;    padding: 2.4rem 2.4rem 0 2.4rem;

    
}

.dibba-content{
    height: 15rem;
    width: 30rem;
    /* background-color: black; */
    color: var(--font-color-secondary);
}

.dibba-content-title {
    font-size: 2rem;
    color: var(--font-color-secondary);
    text-align: left;
    font-weight: 900;
}
.dibba-content-para{
    font-size: 1.6rem;
    text-align: justify;
    word-spacing: .1rem;
    line-height: 2.5rem;
    font-weight: 400;
}




/* explore section ends  */






@media (max-width: 768px)  {

    body {

        background-image: url("hero-img-mob.PNG");
    /* background-repeat: no-repeat; */
   
    
    }

    /* nAVbar section start responsiveness */

    .p-tag {
       display:none;
    }
    .realtor-p{
        margin-left: 1rem;
    }
    
    .nav-lists {
        display: none;
    }

    #hamburger{
        display: inline;
        margin-right: 3rem;
        font-size: 2.5rem;
    }
    #hamcross{
        /* display: block; */
        margin-right: 3rem;
        font-size: 2.5rem;
        z-index: 1000;
    }

    .off-screen-menu {
        background-color: rgb(34, 37, 49);
        height: 100vh;
        width: 100%;
        max-width: 450px;
        position: fixed;
        top: 0;
        /* right: -450px; */
        /* display: flex; */
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 3rem;
        transition: .3s ease;
        color: white  ;
      
        
        }
        .off-screen-menu ul {
            list-style: none;
        }
        
        

  
        .hero-section {
            /* width: 100vw; */
            height: 29.2vh;
            /* display: flex; */
            
            /* color: var(--font-color-primary); */
        }
    

    /* hero section media queries start */
    .hero-section p{
        margin-left: 2rem;
        margin-top: 13rem;
        height: 5rem;
        font-size: 1.9rem;
        text-align: center;
    
    }
  

    .search-bar {
        position: absolute;
        top: 30%;
        /* left: 50%;
        translate: -50%; */
        width: 36rem;
        display: flex;
        border-radius: 50px;
        align-items: center;
        background-color: var(--font-color-primary);
    }
    .dropdown{
        width: 11rem;
        
    }
    /* hero section media queries end */


    /* explore section  */

    .dodibbe-wala-section-1{
       flex-direction: column;
        margin-bottom: .5rem;
    }

    .dodibbe-wala-section-2{
        flex-direction: column;
    }

}